{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'landing/img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Laowai Panda</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="{% static 'landing/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'landing/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
</head>

<body>
	<main id="site-wrapper">
			<div class="scroll-to-top">
					<a href="#home"> <i class="fas fa-angle-double-up"></i> </a>
				</div>
		<!-- start header Area -->
		<header id="header">
			<nav class="navbar navbar-expand-lg navbar fixed-top ">
				<div class="container">
					<a class="navbar-brand" href="index.html">
						<img src="{% static 'landing/img/logo.png' %}" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="fas fa-bars"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="index.html">Features</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="index.html">Download</a>
							</li>
					</div>
				</div>
			</nav>
			<!-- End of nav -->
			<div class="container">
					<h1>
							Laowai Panda
						</h1>
				<div class="row">
						<div class="col-lg-6 col-md-6 d-flex align-items-center">
						<div class="header-description">
							
							<h2>
								Your account verified successfully.
							</h2>

							<div class="download-button d-flex flex-row justify-content-start">
								<div class="buttons flex-row d-flex">
									<i class="fa fa-apple" aria-hidden="true"></i>
									<div class="desc">
										<a href="#">
											<p>
												<span>Available</span> <br>
												For IOS
											</p>
										</a>
									</div>
								</div>
								<div class="buttons flex-row d-flex">
									<i class="fa fa-android" aria-hidden="true"></i>
									<div class="desc">
										<a href="#">
											<p>
												<span>Available</span> <br>
												For Android
											</p>
										</a>
									</div>
								</div>
								<!-- <div class="buttons dark flex-row d-flex">
									<i class="fa fa-android" aria-hidden="true"></i>
									<div class="desc">
										<a href="#">
											<p>
												<span>Available</span> <br>
												on Play Store
											</p>
										</a>
									</div>
								</div> -->
							</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-lg-2">
						<div class="header-image">
							<img src="{% static 'landing/img/iphone.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- end header Area -->




	</main>
	<!-- Start Footer Area -->
	<footer class="footer-area pb-3 mt-5 pt-5" id="site-footer">
		<div class="container">
			<div class="row">


			</div>
			<div class="row align-items-center">
				<p class="footer-text mt-5 col-lg-6 col-md-12 text-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | Laowai Panda 
					 <br> Powered by <i class="fa fa-heart-o" aria-hidden="true"></i> <a href=""
						target="_blank">MaroGlobal</a>
					<br> Contact us: <a href=""target="_blank">info@laowaipanda.com</a>
					<br> 浙ICP备<a href=""target="_blank"> 20001177 </a>号
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				<div class="col-lg-6 col-md-6 social-link">
					<div class="download-button d-flex flex-row justify-content-end">
						<div class="buttons gray flex-row d-flex">
							<i class="fa fa-apple" aria-hidden="true"></i>
							<div class="desc">
								<a href="#">
									<p>
										<span>Available</span> <br>
										For IOS
									</p>
								</a>
							</div>
						</div>
						<div class="buttons gray flex-row d-flex">
							<i class="fa fa-android" aria-hidden="true"></i>
							<div class="desc">
								<a href="#">
									<p>
										<span>Available</span> <br>
										For Android
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<script src="{% static 'landing/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'landing/js/popper.min.js' %}"></script>
	<script src="{% static 'landing/js/tilt.jquery.min.js' %}"></script>
	<script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'landing/js/main.js' %}"></script>
</body>

</html>